trigger:
- none

pool: 
 name: agent1

stages:
- stage: tflint_scan
  displayName: "TFLint Scan"
  jobs:
  - job: run_tflint
    displayName: "Run TFLint"
    continueOnError: true
    steps:
    - task: PowerShell@2
      displayName: Run TFLint
      inputs:
        targetType: 'inline'
        script: |
          $workDir = "$(System.DefaultWorkingDirectory)\environment\dev"
          tflint --init
          tflint --chdir="$workDir" --recursive --format json > "$workDir\tflint.json"
          if ($LASTEXITCODE -ne 0) { exit 0 }

    - task: PublishPipelineArtifact@1
      displayName: Publish TFLint Report
      inputs:
        targetPath: '$(System.DefaultWorkingDirectory)\environment\dev\tflint.json'
        artifact: 'tflint-result'
        publishLocation: 'pipeline'
- stage: Terraform_init
  displayName: "Terrafrom init"
  jobs:
  - job: terraforminit
    steps:
    - task: TerraformInstaller@1
      inputs:
       terraformVersion: 'latest'
    - task: TerraformTask@5
      inputs:
        provider: 'azurerm'
        command: 'init'
        workingDirectory: '$(System.DefaultWorkingDirectory)\environment\dev'
        backendServiceArm: 'svc'
        backendAzureRmStorageAccountName: 'storage5522'
        backendAzureRmContainerName: 'cont1'
        backendAzureRmKey: 'terraform.tfstate'
- stage: Terrafrom_plan
  displayName: "Terrafrom plan"
  jobs:
  - job: terraformplan
    steps:
    - task: TerraformTask@5
      inputs:
        provider: 'azurerm'
        command: 'init'
        workingDirectory: '$(System.DefaultWorkingDirectory)\environment\dev'
        backendServiceArm: 'svc'
        backendAzureRmStorageAccountName: 'storage5522'
        backendAzureRmContainerName: 'cont1'
        backendAzureRmKey: 'terraform.tfstate'
    - task: TerraformTask@5
      inputs:
        provider: 'azurerm'
        command: 'plan'
        workingDirectory: '$(System.DefaultWorkingDirectory)\environment\dev'
        environmentServiceNameAzureRM: 'svc'

- stage: Terrafrom_apply
  displayName: "Terrafrom apply"
  jobs:
  - job: waitForValidation
    displayName: Manual validation
    pool: server
    timeoutInMinutes: 90
    steps: 
    - task: ManualValidation@1
      inputs:
        notifyUsers: 'ab@.com'
        instructions: 'verify after aproove'

  
  - job: terraformapply
    dependsOn: waitForValidation

    steps:
    - task: TerraformTask@5
      inputs:
        provider: 'azurerm'
        command: 'init'
        workingDirectory: '$(System.DefaultWorkingDirectory)\environment\dev'
        backendServiceArm: 'svc'
        backendAzureRmStorageAccountName: 'storage5522'
        backendAzureRmContainerName: 'cont1'
        backendAzureRmKey: 'terraform.tfstate'
    - task: TerraformTask@5
      inputs:
        provider: 'azurerm'
        command: 'apply'
        workingDirectory: '$(System.DefaultWorkingDirectory)\environment\dev'
        environmentServiceNameAzureRM: 'svc'



